*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, rgb(52, 232, 158), rgb(15, 52, 67));
}


.ToDoList{
    background-color: white;
    margin: 50px auto;
    padding: 30px 20px;
    border-radius: 5px;
    max-height: 100%;
    max-width: 400px;
}


.ToDoList h2 img{
    width: 30px;
    vertical-align:top;
}


.row input{
    margin-top: 5px;
    width: 300px;
    border-radius:50px;
    padding: 10px;
    background-color: rgb(232, 229, 229);
    border: none;
    outline: none;
}   

#add_btn{
    margin-left: -30px;
    padding:10px 25px;
    border-radius: 60px;
    background-color: rgb(131, 197, 131);
    border: none;
    color:whitesmoke;
    cursor: pointer;
}
ul{
    list-style-type: none;
    margin: 20px;
}

 ul li{
    margin: 10px 0px;
    position: relative;
    user-select: none;
}




ul li::before {
    content: "";  
    background-image: url("img/unchecked.png"); 
    position: absolute;
    top: 2px;
    left: -20px;
    height: 15px;
    width: 15px;
    background-size: cover;
    background-position: center;
}

ul li.checked::before{
    content: "";  
    background-image: url("img/checked.png");
    
}

ul li.checked{
    text-decoration: line-through;
}


